@using Kino.ViewModels
@{
	ViewData["Title"] = "Posalji poruku";
}

	<table>
		<thead>
			<tr>
				<th>Pošalji poruku: </th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><a href="/SMS/Send">Klikni</a></td>
			</tr>
		</tbody>
	</table>